.box > .icon {
  text-align: center;
  position: relative;
}
.box > .icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #009846;
  vertical-align: middle;
}
.box > .icon:hover > .image {
  background: #1c7244;
}
.box > .icon > .image > svg {
  font-size: 36px;
  color: #fff;
}
.box > .icon:hover > .image > svg {
  color: white;
}
.box > .icon > .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
  min-height: 163px;
}
.box > .icon:hover > .info {
  background: rgba(0, 0, 0, 0.04);
  border-color: #e0e0e0;
  color: white;
}

.box > .icon > .info > p {
  line-height: 1.5em;
  margin: 20px;
}

.contact-info-data {
  color: #666;
}

.contact-info-data > svg {
  margin-right: 10px;
}

.box .space {
  height: 30px;
}
