.choise-group-container {
  overflow-y: auto;
  height: 70vh;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .choise-group-container {
    height: 70vh;
  }
}

@media only screen and (max-width: 425px) {
  .choise-group-container {
    height: 70vh;
  }
}
