.background-image {
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}
.big {
  height: 750px;
}

.medium {
  height: 65vh;
}

.center {
  background-position: center center;
}

.bottom {
  background-position: bottom;
}

.overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  height: 100px;
}

@media only screen and (max-width: 991px) {
  .background-image {
    height: 300px;
  }
}
