.appointment-box {
  background: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 215px;
  overflow: hidden;
  margin: 15px 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.35);
  text-align: justify;
}

.appointment-box:hover {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.65);
}

.appointment-box > div > div {
  padding-right: 0px;
}

.appointment-details-icon {
  margin-right: 10px;
}

.date-info {
  background-color: #009846;
  color: #ffffff;
  height: 215px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.date-info > span {
  font-size: 40px;
  font-family: "Arial";
  font-weight: bold;
}

.appointment-details-box {
  padding: 10px 25px 10px 0px;
}

@media only screen and (max-width: 767px) {
  .date-info > span {
    font-size: 28px;
  }
}

@media only screen and (max-width: 394px) {
  .appointment-details-box {
    padding: 0px 25px 0px 0px;
  }
  .date-info > span {
    font-size: 22px;
  }
  .appointment-details-box > p:first-child {
    font-size: 22px;
  }
  .appointment-details-box > p:last-child {
    font-size: 16px;
  }
}

@media only screen and (max-width: 334px) {
  .appointment-details-box > p {
    margin-bottom: 5px;
  }

  .date-info {
    height: 230px;
  }

  .appointment-box {
    height: 230px;
  }
}
